.singal-card-div {
    height: 140px;
}
.card-product-img-title {
    width: 48%;
    flex-direction: column;
}
.product-card-small-img {
    width: 100%;
    height: 100%;
}
.product-title {
    font-size: 0.8rem;
}
.card-every-product-info {
    gap: 8px;
    width: 30%;
}
#total-of-every-product {
    margin-left: 0%;
    font-size: 0.9rem;
}
#remove-item-btn {
    margin-left: 0px;
    padding: 2% 6%;
    background-color: rgba(255, 0, 0, 0.432);
    font-size: 1rem;
}